
h2{
    text-align: center;
   
    width: 100%;
    
}
h2.header{
    margin: 80px 0;
}
h2 .hilight{
        border:1px solid black;
        border-block-end-width: thick;
        background-color: cyan  ;
        border-radius: 0 50%;
        width: 40%;
        display: inline-block;
}
.circle{
    align-self: center;
    height: 15px;
    width: 15px;
    background-color: cyan;
    border-radius: 50%;
    margin-left: 10px;
  
    
}
/* ----------------------------------------
                header
 ------------------------------------------*/
.imgheader{
 background-image: url("../img/HEADER2.jpg");
 height: 500px;
 
 background-size: cover;
 background-position: center;
}
.profile{
    text-align: center;
    margin-top: 50px;
}
.profile .avatar img{
    border-radius: 50%;
    width: 200px; 
    border : 5px solid cyan;
    
}
.profile .info .name{
    font-size:30px;
    color: #fff;
    
}
.job-title{
    color: cyan;
}


/* ----------------------------------------
                personal information
 ------------------------------------------*/



#personal-information h4{
    text-align: center;
    padding-top: 10px;
    
}
#personal-information p{
    text-align: end;    
    margin-top: 30px;
}

.sevice-item-text{
   text-align: end  ;
}
.service-item{
    
    display: flex;
    /* justify-content: center; */
    flex-direction: row-reverse;
    align-items: center;
}
.service-item div{
    margin: 5px 10px ;
 
}
.service-item-icon{
    font-size: 35px;  
    
}
/* ----------------------------------------
                education
 ------------------------------------------*/
 .education-degree-info {
     text-align: end;
     width: 1140px;
     padding-right: 40px;
 }
 .education-degree-info div{
     margin-top: 10px;
 }
 .bold{
     padding-left:30px; 
     color: black;
     font-size: 20px;
     font-weight: 700;
 }
 .education-year,.score{
     color: cyan;
     font-weight: 700
 }

/* ----------------------------------------
                job records
 ------------------------------------------*/
 .job-info {
    text-align: end;
    width: 1140px;
    padding-right: 40px;
}
/* ----------------------------------------
                certificate
 ------------------------------------------*/
.certificate-info {
    text-align: end;
    width: 1140px;
    padding-right: 40px;
    margin-bottom:40px; 
}
/* ----------------------------------------
                language
 ------------------------------------------*/
 .language-content{
     
     display: none;
     padding: 5px;
     text-align: center;
     width: 100%;
 }
 .language-link{
     width: 25%;
     background-color: #444;
     float: left;
     border: none;
     cursor: pointer;
     padding: 14px 20px;
     font-size: 17px;
 }
 .language-link:hover{
     background-color: #aaa;
 }
 #reading{color: blue;}
 #speaking{color: red;}
 #writing{color: yellow;}
 #listening{color: green;}
 /* ----------------------------------------
                ability
 ------------------------------------------*/
.ability-info{
    margin: 0 15px;
}
.ability-title{
    text-align: center;
    
    font-size: 1vmax;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    
    
}
/* ----------------------------------------
                footer
 ------------------------------------------*/

footer{
    background-color: #444;
    margin-top: 100px;
}
.social-links{
    list-style: none;
    text-align: center;
}
.social-links li{
    display: inline-block;
    margin: 20px;
    
    font-size: 35px;
}
footer .about{
    
    list-style: none;
    
    text-align: center;
}
footer .about li{
    display: inline-block;
    margin: 30px;
    font-size: 25px
}

/* ----------------------------------------
                navbar
 ------------------------------------------*/



.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
}   
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}   
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid cyan;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;  
}

